# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Image files
*.bmp

.DS_Store
*.dSYM

bftests
cuda
double
longdoub
quad
tests
fd
